.search-container {
  width: 300px;
  display: flex;
  justify-content: flex-start;
}
.search-container input {
  margin-bottom: 15px;
}
.search-container button {
  margin-bottom: 15px;
}
.title {
  text-align: left;
  font-weight: 500;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}
